/* Centra y aplica subrayado al h1 */
.titulo {
    text-align: center;
    text-decoration: underline;
}

/* Centra y agranda el botón de búsqueda */
.boton {
    width: 60%; 
    height: 50px; 
    left: 20%; 
    top: 50px;
    margin-left: 280px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Aplica un estilo diferente al encabezado */
.encabezado {
    color: white;
    background-color: black;
}

/* Centra cada uno de los textos que se encuentran dentro del encabezado */
.name {
    text-align: center;
}

.vericity {
    text-align: center;
}

.lat {
    text-align: center;
}

.long {
    text-align: center;
}

.tip {
    text-align: center;
}

.icon {
    text-align: center;
}

/* Aplica un color de fondo y centra el texto de cada una de las celdas */
.nombre {
    background-color: goldenrod;
    text-align: center;
}

.direccion {
    background-color: rgb(218, 85, 32);
    text-align: center;
}

.latitud {
    background-color: rgb(177, 52, 58);
    text-align: center;
}

.longitud {
    background-color: rgb(194, 106, 120);
    text-align: center;
}

.tipologia {
    background-color: rgb(144, 106, 194);
    text-align: center;
}

.icono {
    background-color: rgb(106, 181, 194);
    text-align: center;
}